@use './styles/variables.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .tools {
    background-color: $third-dark-bg-color;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;

    select {
      width: 10%;
      min-height: 35px;
      padding: 0.25rem 0 0.25rem 0.5rem;
      border-radius: 8px;
      background-color: $disabled-bg-dark-color;
      color: $text-main-color;
    }

    button {
      width: 10%;
      min-height: 35px;
      padding: 0.25rem 0 0.25rem 0.25rem;
      border-radius: 8px;
      background-color: $disabled-bg-dark-color;
      color: $text-main-color;
      border: 1px solid $text-disabled-dark-color;
    }

    input {
      width: 40px;
      min-height: 35px;
      padding: 0.1rem;
      border-radius: 8px;
      background-color: $disabled-bg-dark-color;
      color: $text-main-color;
      border: 1px solid $text-disabled-dark-color;
    }
  }

  .main-content {
    height: 90%;
    width: 100%;
    flex-direction: row;
    display: flex;

    .left-side {
      width: 75%;
      height: 100%;
      padding: 1rem 0 0 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $third-light-bg-color;
      .canvas-element {
        border: 3px solid black;
        background-color: $primary-light-bg-color;
      }
    }

    .right-side {
      background-color: $third-dark-bg-color;
      height: 100%;
      width: 25%;

      ul {
        list-style-type: none;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0;
      }

      li {
        color: $text-main-color;
      }
    }
  }
}
